h1 {
    color:chartreuse;
    background-color:black;
    text-align:center;
    border: solid yellow;
    font-style: oblique;
    font-size:38px;

}
h5 {
    text-align: right;
}
p {
    color:red;
}

h2 {
    color:blue;
    background-color:gold;
}

ul {
    color:darkmagenta;
}
.abcd {
    color:green
}
.xyz {
    color:darkred;
}
 .pqrs {
    color: cornflowerblue;
 }
 